/build*
bin
obj
*.o
OUT.*
log.txt
result.out
.DS_Store
.cache
.vscode
html
.idea
cmake-build-debug
C262144-neighbor/STRU
C262144-neighbor/KPT
C262144-neighbor/INPUT
C262144-neighbor/C_ONCV_PBE-1.0.upf
C262144-neighbor/C_gga_6au_100Ry_2s2p1d.orb
501_NO_neighboring_GaAs512/STRU
501_NO_neighboring_GaAs512/screen_output
501_NO_neighboring_GaAs512/KPT
501_NO_neighboring_GaAs512/jd
501_NO_neighboring_GaAs512/INPUT
501_NO_neighboring_GaAs512/Ga_dojo.orb
501_NO_neighboring_GaAs512/Ga_dojo_nsoc.upf
501_NO_neighboring_GaAs512/As_dojo.orb
501_NO_neighboring_GaAs512/As_dojo_nsoc.upf
perf.data.old
perf.data
core
